:root{
    --main-bg-color:#0afa01;
    --main-bg-color-acent:#f3f708;
    --main-header-footer-color:#ac07bb;
}


/* Universal Selector */
* {
    font-family: 'Courier New', Courier, monospace;
    margin-top: 0;
    padding: 0;  
  }
  
  /* Element Selectors */
  body {
    
    position: relative;
    font-family: "Goudy Bookletter 1911", sans-serif;
    font-size: 20px;
    background-color: var(--main-bg-color);
    color: #4F4846;
  }
  
  h1,
  h2 {
    margin: 20px;
  }
  
  main {
    padding: 60px 0;
  }
  
  li {
    display: inline;
    padding: 0px 20px;
    text-decoration: none;
  }
  
  a {
    text-decoration: none;
    color: #FDF8F5;
  }
  
  header,
  footer {
    width: 100%;
    font-weight: bolder;
    height: 60px;
    width: 100%;
    line-height: 60px;
    background-color: var(--main-header-footer-color);
  }
  
  header {
    position: fixed;
    border-bottom: 10px solid #DDAF94;
  }
  
  footer {
    
    position: absolute;
    margin-top: 0;
    bottom: 0;
    border-bottom: 10px solid #4F4846;
    color: #FDF8F5;    
  }
  
  figure {
    margin-bottom: 40px;
  }
  
  img {
    display: block;
    margin: 20px auto;
  }
  
  section {
    margin-bottom: 0;
    padding: 20px 10px 40px 10px;
    border-top: 3px solid #DDAF94;
    background-color:  var(--main-bg-color-acent);
  }
  
  form {
    /* Center the form on the page */
    margin: 0 auto;
    width: 500px;
    padding: 10px;
    border: 5px solid #DDAF94;
    border-radius: 20px;
  }
  
  label {
    display: inline-block;
    width: 100px;
  }
    
  input, 
  textarea {
    box-sizing: border-box;
    width: 300px;
    border: 1px solid #4F4846;
  }
  
  textarea {
    vertical-align: top;
    height: 60px;
  }
    
  button {
    height: 40px;
    width: 120px;
    background-color: #4F4846;
    color: #FDF8F5;
  }
   
  /* Class Selectors */
  .text-center {
    text-align: center;
  }
  
  .text-right {
    text-align: right;
  }
  
/* input types */

    /* Style inputs with type="text", select elements and textareas */
    input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
    }
    
    /* Style the submit button with a specific background color etc */
    input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    }
    
    /* When moving the mouse over the submit button, add a darker green color */
    input[type=submit]:hover {
    background-color: #a05345;
    }